<span>
    <span class="title mt-1 mx-3 fs-4">Community</span>
    <br />
    <span class="com-edit">
        <span class="title_list ms-3" id="adminCl">Community</span>
        <span class="title_list">></span>
        <span class="title_list">Review & Rating</span>
    </span>
</span>
<span class="box-search title-list ms-5 mb-3">
    <input class="form-control me-2 search-box mt-2" type="search" placeholder="Search" aria-label="Search">
</span>
<span class="title-list mt-3 mx-5">
    <i class="bi bi-chat-left-text-fill ms-5 fs-4"></i>
    <i class="bi bi-cart4 ms-5 fs-4 fw-bold"></i>
</span>
<span class="title-list mt-2 mx-5">
    <img src="../resource/image/person icon.png" alt="" class="nav_img ms-2">
    <br />
    <span>Admin</span>
</span>