<img src="../resource/image/logo.png" alt="" class="mt-3 logo" />
<hr />
<ul class="nav flex-column">
    <li class="nav-item">
        <span class="nav_details hover-li">
            <img src="../resource/image/home icon.png" alt="" class="nav_img" />
            <a class="nav-link link_details" aria-current="page" href="#">Dashboard</a>
        </span>
    </li>
    <li class="nav-item">
        <span class="nav_details hover-li">
            <img src="../resource/image/author-icon-21.jpg" alt="" class="nav_img circle" />
            <a class="nav-link link_details" aria-current="page" href="#">Author Info</a>
        </span>
    </li>
    <li class="nav-item">
        <span class="nav_details hover-li">
            <img src="../resource/image/book1.png" alt="" class="nav_img circle" />
            <a class="nav-link link_details" aria-current="page" href="#">Book Info</a>
        </span>
    </li>
    <li class="nav-item">
        <span class="nav_details hover-li">
            <img src="../resource/image/order.png" alt="" class="nav_img" />
            <a class="nav-link link_details" aria-current="page" href="#">Order Info</a>
        </span>
    </li>
    <li class="nav-item">
        <span class="nav_details hover-li">
            <img src="../resource/image/person icon.png" alt="" class="nav_img" />
            <a class="nav-link link_details" aria-current="page" href="#">User Info</a>
        </span>
    </li>
    <li class="nav-item">
        <span class="nav_details hover-li">
            <img src="../resource/image/person icon.png" alt="" class="nav_img" />
            <a class="nav-link link_details" aria-current="page" href="#">Admin Settings</a>
        </span>
    </li>
    <li class="nav-item">
        <span class="nav_details hover-li">
            <img src="../resource/image/community.png" alt="" class="nav_img circle" />
            <a class="nav-link link_details" aria-current="page" href="#">Community</a>
        </span>
    </li>
</ul>
<button type="button" class="btn btn-danger btn-logout">Logout</button>