<span class="icon-item">
    <a class="" data-bs-toggle="collapse" href=".nav-box" role="button" aria-expanded="false"
        aria-controls="nav-box"><ion-icon name="menu-sharp" class="tit-me"></ion-icon></ion-icon></a>
    <!-- <ion-icon name="menu-sharp" class="tit-me" data-bs-toggle="collapse" data-bs-target=".nav-box" aria-expanded="false"
        aria-controls="nav-box"></ion-icon> -->
</span>
<span class="tit-ba">
    <span class="title mt-1 mx-3 fs-4">Admin Settings</span>
    <br/>
    <span class="title_list ms-3" id="adminCl">Admin</span>
    <span class="title_list">></span>
    <span class="title_list" id="adSet">admin settings</span>
    <span class="title_list">></span>
    <span class="title_list">Privacy & Policy</span>
</span>