*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--adminBg);
}
/* .nav_box{
    background-color: var(--boxColor);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    height: 100vh;
} */
/* .logo{
    margin-top: 3vh;
} */
hr{
    width: 100%;
    height: 5rem;
    color: black;
    margin-left: 0;
}
.nav_img{
    width: 2.5vw;
    height: 6vh;
}
.nav_details{
    display: flex;
}
.circle{
    border-radius: 50%;
}
.link_details{
    /* font-size: var(--navSize); */
    color: var(--fontColor);
}
.logout{
    width: 15vw;
    background-color: var(--logoutBtnColor);
    margin-top: 15vh;
    border-radius: 12px;
}
.title_bar{ 
    height: 15vh;
    padding-left: 2%;
    background-color: var(--boxColor);
    
}
#adminCl{
    color: var(--presentColor);
}
#adSet{
    color: var(--secondColor);
}

/* .hover-li:hover{
    width: 15vw;
    padding: 2vh;
    padding-left: 1vw;
    border-radius: 12px;
    border: 1px solid black;
    background-color: var(--activeColor);
    margin: auto;
} */
.add_cat{
    height: auto;
    background-color: var(--boxColor);
    margin-top: 4vh;
    border-radius: 12px;
}
.add_ncat{
    width: 12vw;
    height: 7vh;
    border-radius: 12px;
    background-color: var(--submitBtnColor);
    margin-left: 82%;
}
.white_table{
    background-color: var(--btnfontColor);
    padding-left: 10px;
}
/* .table_group{
    width: 90%;
    height: 50vh;
    margin-left: 5%;
} */
/* @media screen and (max-width: 1260px) {
    .add_ncat{
        height: 10vh;
    }
}
@media screen and (max-width: 980px) {
    .logout{    
        width: 8vw;
    }
    .logo{
        width: 90px;
    }
}
@media screen and (max-width: 860px) {
    .nav_img{
        display: none;
    }
    .link_detail{
        font-size: 15px;
    }
    .logout{
        font-size: 12px;
    }
} */


