:root{
    /* Color */
    --boxColor : #E8C547;
    --fstbtnColor : #649B1E;
    --secbtnColor : #863838;
    --thibtnColor : #387886;
    --adminBg : #DBD0D0;
    --fontColor : #30323D;
    --btnfontColor : #FFFFFF;
    --presentColor : #18ABD9;
    --secondColor : #0324D9;
    --logoutBtnColor : #FF0000;
    --submitBtnColor : #218080;
    --settingBar : #058D54;
    --activeColor : #ffff00;
    /* Font Size */
    --headerSize : 3rem;
    --normalSize : 2rem;
    --linkSize : 2rem;
    --mainHeading : 0.1rem;
    --littleSize : 1rem;
    --navSize : 1.2rem;
    --btnFont : 2rem;
    --linkHeader : 3rem;
}