*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--adminBg);
}
.nav_box{
    background-color: var(--boxColor);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    height: 100vh;
}
hr{
    width: 100%;
    height: 5rem;
    color: black;
    margin-left: 0;
}
.nav_img{
    width: 2.5vw;
    height: 6vh;
}
.nav_details{
    display: flex;
}
.circle{
    border-radius: 50%;
}
.link_details{
    /* font-size: var(--navSize); */
    color: var(--fontColor);
}
.logout{
    width: 15vw;
    background-color: var(--logoutBtnColor);
    margin-top: 15vh;
    border-radius: 12px;
}
.title_bar{ 
    height: 15vh;
    padding-left: 2%;
    background-color: var(--boxColor);
    
}
#adminCl{
    color: var(--presentColor);
}
#adSet{
    color: var(--secondColor);
}

.hover-li:hover{
    width: 15vw;
    padding: 2vh;
    padding-left: 1vw;
    border-radius: 12px;
    border: 1px solid black;
    background-color: var(--activeColor);
    margin: auto;
}
.add_author{
    height: auto;
    background-color: var(--boxColor);
    margin-top: 4vh;
    border-radius: 12px;
}
.title_homescreen{
    padding-top: 2%;
    text-align: center;
}
.name{
    padding-left: 5%;
    margin-top: 0.2vh;
}
.box1,.box2{
    height: 7vh;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 12px;
    background-color: transparent;
    margin-top: 1%;
}
.box1{
    width: 64vw;
}
.box2{
    width: 72vw;
}
.submit{
    width: 14vw ;
    height: 7vh;
    border-radius: 12px;
    background-color: var(--presentColor);
    color:var(--adminBg) ;
    margin-top: 4%;
    margin-left: 40% ;
}
.browse_btn{
    width: 8vw ;
    height: 7vh;
    border-radius: 12px;
    background-color: var(--presentColor);
    color:var(--adminBg) ;
}
@media screen and (max-width: 1000px) {
    .logout{
        font-size: 12px;
    }
}

