* {
    margin: 0;
    padding: 0;

    font-family: 'Noto Sans Myanmar', sans-serif;
}

:root {
    --yellow: #E8C547;
    --main-bg-color: #F8F7F9;
    --light-yellow: #F2F175;
    --body-bg-color: #E5E5E5;
    --boxshadow-bg-color: gray;
    --light-violet: #E8C3F1;
    --black: black;
    --red: red;
}

/* AuthorList */

.title {
    width: 30vw;
    height: 10vh;
    border: 0px solid;
    background-color: var(--main-bg-color);
    text-align: center;
    margin: 7vh 0 10vh 25vw;
    padding-top: 3vh;
    font-weight: 580;
}

/* က မှ အ အထိ */
.firstWord {
    margin-left: 25vw;
}

.alphabetLine {
    display: flex;
    margin-left: 1vw;
    

}

.alphabet {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: 580;
    border: solid 1px var(--black);
   
}

.alphabet:hover {
    background-color: var(--yellow);
}

.box {
    margin-left: 25vw;
    /* margin-top: 12vh; */
}

.alphabetList {
    width: 30vw;
    height: 10vh;
    border: solid 0px;
    background-color: var(--yellow);
    padding: 4vh 0vw 0vh 5vw;
    margin-top: 12vh;
   font-weight: 580;
   
}
.authorListLink{
    text-decoration: none;
    color: var(--black);
}
.authorsList ul {
    list-style: none;
    width: 30vw;
    border: solid 0px;
    background-color: var(--light-violet);
    padding-top: 2rem;
    font-weight: 580;
}

.authorsList ul li {
    padding-bottom: 3vh;
}

/* footer */
.footer {
    height: 12vh;
    border: 0px solid;
    background-color: var(--yellow);
    display: flex;
    padding:3vh 0 0 4vw;
}

/* Mobile View */
@media screen and (max-width: 720px) {

    /* က မှ အ အထိ */

    .title {
        width: 50vw;
        height: 10vh;
        border: 0px solid;
        background-color: var(--main-bg-color);
        text-align: center;
        margin: 7vh 0vw 8vh 21vw;
        padding-top: 3vh;
    }

    .alphabetLine {
        margin-top: 4px;
        margin-left: 2px;
    }

    .alphabet {
        width: 40px;
        height: 40px;
        /* margin-left: 7vw; */
    }


    .box {
        margin-left: 15vw;
        /* margin-top: 12vh; */
    }

    .firstWord {
        margin-left: 20vw;
    }

    .alphabetList {
        width: 60vw;
    }

    .authorsList ul {

        width: 60vw;
    }

    .footer {
        font-size: 12px;
        /* padding: 1vh 0 0 0vw; */
    }

    .copyright {
        margin-left: 1vw;

    }
}