.title{
    font-size: 1.5rem !important;
}
.sub-title{
    color: var(--yellow) !important;
    font-size: 1.2rem !important;
}
hr{
    height: 0.2rem !important;
}
.black{
    color: var(--black) !important;
}
.yellow{
    color: var(--yellow) !important;
}
.sub img:not(.slick-arrow img){
    max-width: 10rem !important;
}
.slick-arrow img{
    max-width: 1.5rem !important;
    cursor: pointer !important;
} 