.title{
    font-size: 1.5rem !important;
}
.sub-title{
    color: var(--yellow) !important;
    font-size: 1.2rem !important;
}
hr{
    height: 0.2rem !important;
}
.black{
    color: var(--black) !important;
}
.yellow{
    color: var(--yellow) !important;
}
img{
    max-width: 3rem !important;
}
@media screen and (min-width:760px) {
.arrow{
    max-width: 8rem !important;
}
.img-fluid{
    max-width: 15rem !important;
}
}
@media (max-width: 760px) {
    img{
        max-width: 1.5rem !important;
    }
    .img-fluid{
        max-width: 7rem !important;
    }
 }