@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,500&display=swap');

/* font-family: 'Poppins', sans-serif !important; can use this poppins in English word when we need */
:root{
    --red:#FF0000;
    --yellow:#E8C547;
    --light-yellow:#F2F175;
    --light-black:#4D5061;
    --medium-black:#30323D;
    --pruple:#E8C3F1;
    --bgColor:#f1f1f1;
    --white:#ffffff;
    --black:#000000;
    --border:1.5rem;
}
*{  
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Myanmar', sans-serif !important;
}
body{
    background-color: var(--bgColor) !important;
}
/* width */
::-webkit-scrollbar {
    width: 0.5rem !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--light-black) !important; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--yellow) !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--light-yellow) !important;
  }

.commentBtn{
    background-color: var(--yellow) !important;
    border-radius: 1.5rem !important;
}