* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Myanmar', sans-serif;
}

:root {
    --yellow: #E8C547;
    --main-bg-color: #F8F7F9;
    --light-yellow: #F2F175;
    --body-bg-color: #E5E5E5;
    --boxshadow-bg-color: gray;
    --light-violet: #E8C3F1;

}


.division {
    position: absolute;
    width: 17vw;
    height: 9vh;
    border: 0px solid;
    text-align: center;
    padding-top: 15px;
    box-shadow: 6px 5px var(--boxshadow-bg-color);
    background-color: var(--light-yellow);
}

.deliList {
    margin-top: 5vh;
}

.deliHeader {
    width: 30vw;
    height: 10vh;
    border: 0px solid;
    margin-left: 20vw;
    background-color: var(--yellow);
    padding: 25px 0px 0px 70px;
}


/* YangonDivision */
.yangon {
    margin: 1vh 0vw 0vh 27vw;
}

.yangonTownList {
    margin: 7vh 4vw 0vh 3vw;
    display: flex;
    flex-wrap: wrap;
}

.yangonTownList ul {
    margin: 17vh 7vw 0vh 0vw;
    /* list-style: none; */
}

.yangonTownList ul li {
    width: 220px;
}

.yagonTown {
    display: flex;
    flex-wrap: wrap;
}


.footer {
    height: 12vh;
    border: 0px solid;
    background-color: var(--yellow);
    display: flex;
    padding: 0vh 0vw 0vh 2vw;
}

/*Mobile View*/
@media screen and (max-width: 720px) {

    .deliHeader {
        width: 60vw;
        padding: 20px 0px 0px 15px;
    }

    .division {
        width: 50vw;
    }

    .footer {
        font-size: 12px;
        padding: 1vh 0 0 1vw;
    }

    .copyright {
        margin-left: 4vw;

    }
}