@import url("commonUser.css");

:root {
  --grayblack: #30323d;
  --whitegray: #d9d9d9;
}
.guide{
  /* margin-right: 250px;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 100px; */
  background-color: var(--grayblack);
  /* width: fit-content; */
}

.mainbody {
  margin: 4%;
  margin-bottom: 2%;
}
.topic {
  font-size: 20px;
}
.titles {
    margin-top: 6%;
  text-align: left;
  background-color: var(--whitegray);
  width: 98%;
  height: 100px;
  padding-left: 3%; 
  padding-top: 3%;
  margin-bottom: 0px;
}
.des {
  font-size: 20px;
}
.titles, .facts{
  font-size: 0.9rem;
}
.facts {
  margin-left: 3%;
  text-align: left;
  background-color: var(--yellow);
  width: 91%;
  height: 80px;
  padding-left: 3%;
  padding-top: 2%;
  margin-bottom: 8%;
}

.one,.two{
  width: 100% !important;
}
@media screen and (max-width: 900px) {
    .titles {
      padding-top: 4%;
    }
    .facts {
        padding-top: 3%;
      }
}
@media screen and (max-width: 620px) {
    .titles {
        padding-top: 6%;
      }
}
