* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    font-family: 'Noto Sans Myanmar', sans-serif;
}

:root {
    --yellow: #E8C547;
    --main-bg-color: #F8F7F9;
    --light-yellow: #F2F175;
    --body-bg-color: #E5E5E5;
    --boxshadow-bg-color: gray;
    --light-violet: #E8C3F1;
    --black: black;
    --red: red;
    --dark-blue: darkblue;
}


.newBookImg {
    width: 25vw;
    height: 52vh;
    /* margin-bottom: 2vh; */
}

/* <!-- ယနေ့အတွက် ရည်ညွှန်းစာအုပ် --> */
.BookForToday {
    margin-top: 5vh;
    /* margin-left: 10vw; */
    /* width: 100vw; */
}


/* <!-- ယနေ့အတွက် ရည်ညွှန်းစာအုပ်  end--> */

/* <!-- advertisement start --> */

.advertise {
    margin: 10vh 0 0 0;
}

.advertise .row {
    margin-left: 4vw;
}

.advertise .advertiseCard {
    color: var(--black);
    min-height: 325px;
    text-align: center;
    overflow: hidden;

}

.advertise .advertise-wrapper {
    padding: 25px 15px;
    width: 250px;
    height: 180px;
    text-align: center;
    position: relative;
    box-shadow: 5px 7px 4px gray;
    background-color: var(--main-bg-color);
    margin-top: 8vh;
}


.advertise .advertiseCard .adver-img {
    width: 120px;
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.advertise .advertiseCard img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.advertise .advertise-content .name {
    font-size: 14px;
    color: var(--dark-blue);
    font-weight: 400;
}


/* <!-- advertisement end --> */
/* လတ်တလောလူကြိုက်များသော စာအုပ်များ  */
.popularBookTitle {
    text-align: center !important;

}

.popularBook {
    /* min-width: 85vw; */
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    position: relative;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    padding: 30px 30px;
    cursor: pointer;
    margin: auto;
    transition: all 0.8s;
}

.card:hover {
    height: 50vh;
    background-color: var(--light-violet);
}

.imgBox {
    width: 100%;
    height: 150px;
    position: relative;
    transform: translateY(-100px);
    border-radius: 5px;
}

.imgBox .bookTitle {
    padding: 20px 0px 0px 0px;
    color: brown;
    font-size: 15px;

}

.bookTitle {
    text-align: center;
}

.bookImg {
    width: 20vw;
    height: 32vh;
    padding-right: 81px;
}

.card .content {
    position: absolute;
    padding-top: 20px;
    text-align: center;
    transform: translateY(-400px);
    opacity: 0;

}

.card .content p {
    margin-top: 7vh;
    text-align: center;
}

.card:hover>.content {
    opacity: 1;
    transform: translateY(120px);

}

.card .content .btn {
    background-color: var(--light-yellow);
    text-align: center;
}

/* လတ်တလောလူကြိုက်များသော စာအုပ်များ end  */

/* DISCOUNT start */
.disItem {
    display: flex;
    background-color: var(--light-violet);
    height: 60vh;
    width: auto;
}

.disItem .disContent {
    margin: 15vh 0vw 0vh 5vw;
    font-size: 25px;

}

.disItem .disContent h2 {
    margin-left: 12vw;
    padding-bottom: 4px;
}

.disItem .disContent p {
    margin: 2vh 0vw 2vh 8vw;
}


.disItem .disContent .disPrice {
    margin-left: 12vw;
}

.disItem .discountCard {

    /* display: flex; */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #F2F175;
    box-shadow: 0px 0px 0px rgb(0, 0, 1);
    margin: 7vh 0vw 0vh 15vw;
}

.disItem .discountCard .disImage {
    width: 270px;
    height: 240px;
    margin: 30px 0 0 20px;
}

.disTag {
    position: absolute;
    margin: 30px 0px 0px -40px;
}

.disTag span {
    width: 125px;
    height: 40px;
    background-color: var(--yellow);
    display: block;
    position: absolute;
    margin-top: 30px;
    text-align: center;
    padding-top: 5px;
    font-size: 19px;
}

/* Book Category */

.carousels {
    margin: 10vh 0 0 0;
}

.carousels h4 {
    text-align: center;
}

.carousels .item {
    color: var(--black);
    min-height: 325px;
    text-align: center;
    overflow: hidden;

}

.carousels .thumb-wrapper {
    /* padding: 25px 15px; */
    background: var(--body-bg-color);
    border-radius: 6px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
}

.carousels .thumb-wrapper:hover {

    box-shadow: 3px 4px 5px 2px var(--blackr);
    transform: scale(1.1);
}

.carousels .item .img-box {
    height: 200px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.carousels .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.carousels .thumb-content .authorName {
    font-size: 16px;
    color: var(--dark-blue);
    font-weight: 400;
}

.seeMore {
    width: 170px;
    height: 55px;
    border: 0px solid;
    background-color: var(--yellow);
    margin: 2vh 0vw 4vh 33vw;
    text-align: center;
    padding-top: 2.5vh;
    border-radius: 5px;
}

.seeMoreTagA {
    text-decoration: none !important;
    color: var(--black);
}

/* SERVICES */

.serviceCard {
    width: 160px;
    height: 130px;
    border: 0px solid;
    background-color: var(--light-yellow);
    border: none;
    cursor: pointer;
    margin-top: 50px;

}

.serviceCard {
    margin: 40px 0px 30px 0px;

}

.serviceATag {
    text-decoration: none;

}

.serviceCard:hover {
    background-color: var(--yellow);
}

.serviceCard .icon img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.serviceCard .icon .homeDelivery {
    width: 60px;
    height: 60px;
}


.serviceCard .content {
    font-size: 13px;
    margin-top: 20px;
    color: black;
}

.serviceCard .homeDeliveryContent {

    margin-top: 10px;

}

/* homeAddress */
.homeAddress {
    background-color: var(--light-yellow);
}

/* homeAddress */

/* Copyright */
.copyright {
    background-color: var(--yellow);
}



@media screen and (max-width: 720px) {

    /* အသစ်ထွက်ရှိသော စာအုပ်များ*/
    .newBookImg {
        width: 55vw;
        height: 40vh;

    }

    /* အသစ်ထွက်ရှိသော စာအုပ်များ End */

    /* advertisement */
    .advertise .advertise-wrapper {
        margin-left: 10vw;
        margin-top: 5vh;
    }

    /* လတ်တလောလူကြိုက်များသော စာအုပ်များ  */
    .popularBook {
        flex-wrap: wrap;
    }

    .popularBook .card {
        margin-bottom: 20vh !important;

    }

    .bookImg {
        width: 45vw;
        height: 27vh;
    }

    .card .content p {
        margin-top: 1vh;

    }

    .popularBookTitle {
        margin: 15vh 0vw 17vh 3vw;
    }

    /* လတ်တလောလူကြိုက်များသော စာအုပ်များ  end*/


    /* DISCOUNT start */
    .disItem {
        display: flex;
        background-color: var(--light-violet);
        height: 60vh;
    }

    .disItem .disContent {
        margin: 18vh 0vw 0vh 5vw;
        font-size: 25px;

    }


    .disItem .disContent h2 {
        margin-left: 7vw;

        font-size: 23px;
    }

    .disItem .disContent p {
        margin: 2vh 0vw 2vh 0vw;
        font-size: 15px;
    }


    .disItem .disContent .disPrice {
        margin-left: 4vw;
        font-size: 17px;
    }

    .disItem .discountCard {
        width: 170px;
        height: 170px;
        margin: 13vh 0vw 0vh 3vw;
    }

    .disItem .discountCard .disImage {
        width: 30vw;
        height: 23vh;
        margin: 13px 0 0 15px;
    }

    .disTag {
        margin: 0px 0px 0px -30px;
    }

    .disTag span {
        width: 80px;
        height: 25px;
        font-size: 12px;
    }

    /* DISCOUNT end */
    /* category start */
    .carousels h4 {
        margin: 2vh 0vw 4vh 8vw;
    }

    .carousels .item {
        margin-left: 10vw;
    }

    .thumb-wrapper {
        margin: 0vh 0vw 7vh 0vw;
        width: 60vw;
    }

    .imgBox .bookImg {
        margin-left: 2vw;
    }

    .seeMore {
        margin-left: 28vw;
    }

    /* category end */
    /* SERVICES */
    .serviceCard {
        margin-left: 28vw;
    }

    /* FOOTER start*/
    .footer {
        font-size: 12px;
    }
}

.commentBtn {
    background-color: var(--yellow) !important;
    border-radius: 1.5rem !important;
}