@import url("./commonUser.css");

body{
    background-color: var(--bgColor) !important;
}
.register-container{
    background-color: var(--medium-black);
    border-radius: var(--border);
}
.img-register{
    border-top-right-radius: var(--border) !important;
    border-bottom-right-radius: var(--border) !important;
}
::placeholder, .login-btn, .register-title{
    color: var(--yellow) !important;
}
::placeholder{
    font-family: 'Poppins', sans-serif !important;
}
input{
    border-radius: .5rem !important;
}
.sweet-warning,
.sweet-warning:not([disabled]):hover{
    background-color: red !important;
}
.loginBtn{
    font-size: 15px  !important;
}