.useracc {
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 50% !important;
    border: 0.3rem var(--yellow) !important;
}
.nav-color,.search select{
    background-color: var(--yellow) !important;
}
nav, .dropdown-item, select, option{
    font-size: 0.9rem !important;
}
.sm-bg{
    background-color: var(--yellow) !important;
}
.input-group button{
    border-radius: unset !important;
    background-color: var(--yellow) !important;
    border: none !important;
}
.searchBorder{
    border-color: var(--yellow) !important;
}
.search select{
    border: none !important;
    outline: none !important;
}
.modal-open{
        padding-right: 0 !important;
        overflow-y: auto !important;
}
.searchInput::placeholder{
    color: gainsboro  !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
}
.bi-search::before{
    font-weight: bolder !important;
}
.selectNav{
    border-radius: unset !important;
}
.delete{
    background-color: transparent !important;
    border: none !important;
}
.commentBtn{
    background-color: var(--yellow) !important;
    border-radius: 1.5rem !important;
}
.preview img{
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 50%;
    border: 0.3rem var(--yellow) !important;
}

@media screen and (max-width:576px) {
    .color{
        background-color: var(--yellow) !important;
    }
    .searchIcon{
        font-size: 14.4px;
    }
}
@media screen and (max-width:768px) {
    .color{
        background-color: var(--yellow) !important;
    }
}
