body{
    background-color: var(--bgColor) !important;
}
.register-container{
    background-color: var(--medium-black);
    border-radius: var(--border);
}
.img-register{
    border-top-left-radius: var(--border);
    border-bottom-left-radius: var(--border);
}
.register-title{
    color: var(--white);
}
::placeholder, .register-btn{
    color: var(--yellow) !important;
}
.register-btn{
    background-color: var(--black);
}
::placeholder{
    font-family: 'Poppins', sans-serif !important;
}
input{
    border-radius: .5rem !important;
}
.sweet-warning,
.sweet-warning:not([disabled]):hover{
    background-color: red !important;
}
.loginFont{
    font-size: 15px !important;
}