* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Myanmar', sans-serif;

}

:root {
    --yellow: #E8C547;
    --main-bg-color: #F8F7F9;
    --light-yellow: #F2F175;
    --body-bg-color: #E5E5E5;
    --boxshadow-bg-color: gray;
    --light-violet: #E8C3F1;
    --black: black;
    --red: red;
    --dark-blue: darkblue;
}

.resultBox {
    min-width: 18vh;
}

.resultHeader {
    margin: 7vh 0vw 4vh 0vw;
    color: var(--yellow) !important;
}

.resultBody .item {
    color: var(--black);
    min-height: 325px;
    text-align: center;
}

.resultBody .result-wrapper {
    background: var(--body-bg-color);
    border-radius: 6px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
    margin-bottom: 4vh;
}

.result-content {
    font-size: 14px;
}

.result-content .authorName {
    color: var(--dark-blue);
    padding-bottom: 1vh;
}

.result-wrapper .img-box {
    height: 20vh;
    margin-bottom: 20px;
    /* width: 100%; */
    position: relative;
}

.result-wrapper img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding-top: 1rem;
    left: 0;
    right: 0;
}

.result-content .btn {
    background-color: var(--yellow);
    margin-bottom: 2vh;
    font-size: 14px;
}


@media screen and (max-width: 720px) {

    .resultBody .result-wrapper {
        /* margin: 0vh 0vw 5vh 12vw; */
        width: 50vw;
        margin-left: 18vw;
    }

    /* FOOTER start*/
    .footer {
        font-size: 12px !important;
    }

}