* {

    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Myanmar', sans-serif;
}

:root {
    --yellow: #E8C547;
    --main-bg-color: #F8F7F9;
    --light-yellow: #F2F175;
    --body-bg-color: #E5E5E5;
    --boxshadow-bg-color: gray;
    --light-violet: #E8C3F1;

}

/* ShopListBody */
.shopList {
    margin-left: 5vw;
    margin-top: 2vh;
}

.shopListHeader {
    width: 70vw;
    height: 13vh;
    border: 0px solid;
    background-color: var(--yellow);
    text-align: center;
    padding-top: 28px;
    font-size: 20px;
}

.shopListBody {
    width: 70vw;
    height: 675vh;
    border: 0px solid;
    background-color: var(--body-bg-color);
}

.bookshopName {
    /* position: absolute; */
    width: 23vw;
    height: 9vh;
    border: 0px solid;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 6px 5px var(--boxshadow-bg-color);
    background-color: var(--light-yellow);
    font-size: 18px;

}

.shopAddress {
    /* position: absolute; */
    font-size: 18px;
}

/* SAR PAY LAW KA BOOK SHOP */
.SPLKBookShop {
    margin-top: 7vh;
    margin-left: 5vw;
}

.sarpaylawkaPSD {
    margin: 5vh 0 0 5vw;
}




/* Footer */

.footer {
    height: 12vh;
    border: 0px solid;
    background-color: var(--yellow);
    display: flex;
    padding: 0vh 0 0 4vw;
}



/*Mobile View*/
@media screen and (max-width: 1300px){
    .bookshopName {
        width: 26vw;
    }
}
@media screen and (max-width: 1150px){
    .bookshopName {
        width: 30vw;
    }
}
@media screen and (max-width: 1000px){
    .bookshopName {
    font-size: 15px;    
    }
}
@media screen and (max-width: 820px){
    .bookshopName {
        width: 35vw;   
    }
}
@media screen and (max-width: 720px) {

    * {
        font-size: 12px;
    }

    .bookshopName {
        font-size: 13px;

    }

    .SPLKBookShop,
    .APDMBookShop,
    .KantKawBookShop {
        width: 50vw;
    }

    .menubar_bottom {

        margin: 10px 0px 0px 40px;
    }

    .shopListHeader {
        font-size: 17px;
    }



    .shopList {
        /* margin-top: 20vh; */
        margin-left: 2vw;
    }

    .shopListHeader {
        width: 90vw;
    }

    .shopListBody {
        width: 90vw;
        height: 500vh;
    }

    /* .footer {
        font-size: 12px !important;
      
    } */
/* 
    .copyright {
        margin-left: 10vw !important;
    } */
}