* {

    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Myanmar', sans-serif;
}

:root {
    --yellow: #E8C547;
    --main-bg-color: #F8F7F9;
    --light-yellow: #F2F175;
    --body-bg-color: #E5E5E5;
    --boxshadow-bg-color: gray;
    --light-violet: #E8C3F1;

}

/* ShopListBody */
.shopList {
    margin-left: 5vw;
    margin-top: 2vh;
}

.shopListHeader {
    width: 70vw;
    height: 13vh;
    border: 0px solid;
    background-color: var(--yellow);
    text-align: center;
    padding-top: 28px;
    font-size: 20px;
}

.shopListBody {
    width: 70vw;
    height: 675vh;
    border: 0px solid;
    background-color: var(--body-bg-color);
}

.bookshopName {
    /* position: absolute; */
    width: 23vw;
    height: 9vh;
    border: 0px solid;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 6px 5px var(--boxshadow-bg-color);
    background-color: var(--light-yellow);
    font-size: 18px;

}

.shopAddress {
    /* position: absolute; */
    font-size: 18px;
}

/* SAR PAY LAW KA BOOK SHOP */
.SPLKBookShop {
    margin: 7vh 0vw 0vh 4vw;
}

.sarpaylawkaPSD {
    margin: 23vh 0 0 5vw;
}

.sarpaylawkaJC {
    margin: 53vh 0 0 5vw;
}

.sarpaylawkaCENTRAL {
    margin: 83vh 0 0 5vw;
}

.sarpaylawkaSOK {
    margin: 113vh 0 0 5vw;
}

.sarpaylawkaHLEDAN {
    margin: 143vh 0 0 5vw;
}

.sarpaylawkaKM {
    margin: 173vh 0 0 5vw;
}

.sarpaylawkaINSEIN {
    margin: 203vh 0 0 5vw;
}

.sarpaylawkaTC {
    margin: 233vh 0 0 5vw;
}

.sarpaylawkaNOK {
    margin: 263vh 0 0 5vw;
}

/* AParDawMyal BOOKS SHOP */
.APDMBookShop {
    margin: 295vh 0vw 0vh 4vw;
}

.AParDawMyal {
    margin: 310vh 0 0 5vw;
}

/* စောဦးစာပေ */
.SawOoBookShop {
    margin: 330vh 0vw 0vh 4vw;
}

.SawOo {
    margin: 345vh 0 0 5vw;
}

/* အင်းဝ စာအုပ်တိုက် */

.InnwaBookShop {
    margin: 365vh 0vw 0vh 4vw;
}

.InnwaPSD {
    margin: 385vh 0 0 5vw;
}

.InnwaHLEDAN {
    margin: 410vh 0 0 5vw;
}

.InnwaMMPLAZA {
    margin: 440vh 0 0 5vw;
}

.InnwaTIMECITY {
    margin: 470vh 0 0 5vw;
}

.InnwaTerminalM {
    margin: 500vh 0 0 5vw;
}


.InnwaMDY {
    margin: 530vh 0 0 5vw;
}

/* ရာပြည့် */

.YarPyaeBookShop {
    margin: 560vh 0vw 0vh 4vw;
}

.YarpyaePSD {
    margin: 580vh 0 0 5vw;
}

.YarpyaeHLEDAN {
    margin: 600vh 0 0 5vw;
}

/* ကံ့ကော်ဝတ်ရည် စာပေတိုက် */

.KantKawBookShop {
    margin: 630vh 0vw 0vh 4vw;
}

.KantKaw {
    margin: 650vh 0 0 5vw;
} */


/* Footer */

.footer {
    height: 12vh;
    border: 0px solid;
    background-color: var(--yellow);
    /* margin-top: 13vh; */
    display: flex;
    padding: 0vh 0 0 4vw;
}



/*Mobile View*/

@media screen and (max-width: 720px) {

    * {
        font-size: 12px;
    }

    .bookshopName {
        font-size: 13px;

    }

    .SPLKBookShop,
    .APDMBookShop,
    .KantKawBookShop {
        width: 50vw;
    }

    .menubar_bottom {

        margin: 10px 0px 0px 40px;
    }

    .shopListHeader {
        font-size: 17px;
    }



    .shopList {
        /* margin-top: 20vh; */
        margin-left: 2vw;
    }

    .shopListHeader {
        width: 90vw;
    }

    .shopListBody {
        width: 90vw;

    }

    .footer {
        font-size: 12px !important;
        padding: 4vh 0 0 2vw;
    }

    .copyright {
        margin-left: 10vw !important;
    }
}